.input-icon-wrap {
  background: #fbfcfb;
  border: 0.465444px solid color(grey);
  // width: 100%;
  width: 400px;
  border-radius: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: color(textBlack);
  cursor: pointer;
  padding-left: 0.8rem;

  .icon {
    height: 100%;
    // width: 20px;
    background: transparent;
    cursor: pointer;
    padding: 0 0.6rem;
    border: none;
  }

  input {
    background: transparent;
    border: none !important;
    flex-grow: 2;
    height: 100% !important;
  }
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.4rem 0;
  height: 95%;
  border-radius: 20px;
  width: 100%;

  label {
    // font-weight: 600;
    font-size: 0.8rem;
    margin: 0.6rem 0;
  }
}

input:not([type="checkbox"]),
select,
textarea {
  background: #fbfcfb;
  border: 0.465444px solid #c3c4c5;
  width: 100%;
  height: 33px;
  padding: 0.5rem;
  border-radius: 4px;

  &:focus {
    outline: none;
  }
}
textarea {
  height: 150px;
}
